@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,700,700i|Open+Sans");
#font-white {
  color: #fff !important; }

#goto-top {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  cursor: pointer; }

.navbar-logo {
  height: 60px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; }
  .navbar-logo--tilt {
    background-color: #002949;
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(49%, #002949), color-stop(51%, #fff));
    background-image: linear-gradient(to right bottom, #002949 49%, #fff 51%);
    width: 100px;
    height: 120px; }

.navbar-branding-container {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.header-image {
  padding-top: 120px !important;
  padding-bottom: 200px !important;
  background-image: url("/img/header_img.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover; }

.bg-primary {
  background-color: #002949; }

.icon--phone {
  height: 15px;
  width: 12px;
  background-image: url("/img/icons/phone_ico.png"); }

.icon--flag {
  height: 16px;
  width: 23px;
  background-image: url("/img/icons/flg_eng_ico.png"); }

.border-btm {
  border-bottom: 3px solid #00baff; }

.img-backslash {
  height: 60px;
  background-image: url("/img/backslash.png");
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 10px; }

.item {
  background: #00baff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  padding: 30px;
  margin: 0 auto;
  margin-bottom: 30px; }
  .item-webdev {
    background-image: url("/img/icons/srvc_webdev_ico.png");
    background-repeat: no-repeat;
    background-position: center center; }
  .item-mobile {
    background-image: url("/img/icons/srvc_chechk_ico.png");
    background-repeat: no-repeat;
    background-position: center center; }
  .item-it {
    background-image: url("/img/icons/srvc_itconsultacy_ico.png");
    background-repeat: no-repeat;
    background-position: center center; }

div#news.container-fluid {
  background-image: url("/img/latest_news_bg.png");
  background-repeat: no-repeat;
  background-position: center center; }

.icon--date {
  height: 16px;
  width: 23px;
  background-image: url("/img/icons/date_ico.png");
  background-repeat: no-repeat;
  background-position: center center; }

.icon--user {
  height: 16px;
  width: 23px;
  background-image: url("/img/icons/user_ico.png");
  background-repeat: no-repeat;
  background-position: center center; }

.img {
  height: 250px; }
  .img-main {
    background-image: url("/img/latest_uhpexhibition.png"); }
  .img-secondary-1 {
    background-image: url("/img/latest_hybridapps.png"); }
  .img-secondary-2 {
    background-image: url("/img/latest_asinean.png"); }

.card-text {
  overflow: hidden;
  text-overflow: ellipsis; }
  .card-text > p {
    max-height: 95px;
    font-size: 80%;
    font-weight: 500;
    word-wrap: break-word;
    padding-bottom: 5px; }

.corner {
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(48%, transparent), color-stop(51%, #f8f9fa));
  background-image: linear-gradient(to right bottom, transparent 48%, #f8f9fa 51%);
  width: 80px;
  height: 80px; }
  .corner-month {
    margin-top: 50px;
    font-weight: 800; }
  .corner-day {
    font-weight: 800;
    font-size: 1.7rem;
    color: #00baff; }

.corner-container {
  line-height: 0.8;
  padding-right: 5px;
  padding-bottom: 5px;
  position: absolute;
  bottom: 0;
  right: 0; }

#arrow-left {
  margin-left: auto;
  min-height: 90px;
  width: 50px;
  background-image: url("/img/icons/arrow_back_slider.png");
  background-size: cover; }

#arrow-right {
  margin-right: auto;
  min-height: 90px;
  width: 50px;
  background-image: url("/img/icons/arrow_next_slider.png");
  background-size: cover; }

.person > p, span {
  font-size: 90%; }

.lets-work {
  background-color: #002542;
  background-image: url("/img/work_together_bg.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat; }

h5#footer-title {
  color: #00baff !important; }

footer li {
  margin-top: 10px; }
  footer li > a {
    color: black; }
